<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
    </head>
    <body>
        {% for key, message in app.session.getFlashes() %}
            <div class="alert alert-{{ key }}">
                {{ message|trans({}, 'AvroBlogBundle') }}
            </div>
        {% endfor %}
        <div>
            {% block blog_content %}{% endblock %}
        </div>
        <script type="text/javascript">
            {% block js %}{% endblock %}
        </script>
    </body>
</html>
