{% extends 'AvroBlogBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Edit Tag</h1>
    </div>
    <div class="content">
        <form method="post" action="{{ path('avro_blog_tag_edit', { 'id': tag.id }) }}" {{ form_enctype(form) }}>
            {% include 'AvroBlogBundle:Tag:form.html.twig' %}
            <div>
                <input type="submit" class="btn btn-primary btn-large" title="Update the tag" value="Update Tag"/>
            </div>
        </form>
    </div>
{% endblock %}
