{% extends 'AvroBlogBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>Tags:
            <div class="pull-right">
                <a href="{{ path('avro_blog_tag_new') }}" class="btn btn-primary btn-large"><i class="icon-plus icon-white"></i>New Tag</a>
            </div>
        </h1>
    </div>
    <div class="content">
        {% include 'AvroBlogBundle:Tag:table.html.twig' %}
    </div>
{% endblock %}

