{% extends 'AvroBlogBundle::layout.html.twig' %}
{% block content %}
    <div class="page-header">
        <h1>New Tag</h1>
    </div>
    <div class="content">
        <form method="post" action="{{ path('avro_blog_tag_new') }}" {{ form_enctype(form) }}>
            {% include 'AvroBlogBundle:Tag:form.html.twig' %}
            <div>
                <input type="submit" class="btn btn-primary btn-large" title="Create a new tag" value="Create Tag"/>
            </div>
        </form>
    </div>
{% endblock %}

