<table class="table-bordered table-condensed table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>&nbsp</th>
        </tr>
    </thead>
    <tbody class="lines">
    {% for tag in tags %}
        <tr>
            <td>{{ tag.name }}</td>
            <td><a href="{{ path('avro_blog_tag_edit', {'id': tag.id }) }}">edit</a></td>
        </tr>
    {% else %}
        <tr>
            <td colspan="100%" class="left-align">0 tags Found</td>
        </tr>
     {% endfor %}
    </tbody>
</table>
