{% extends 'AvroBlogBundle::layout.html.twig' %}

{% block blog_content %}
    <div class="row-fluid">
        <div class="span9">
            {% for post in posts %}
                {% include 'AvroBlogBundle:Post:show_content.html.twig' %}
            {% else %}
                <p>0 posts found</p>
            {% endfor %}
        </div>
        <div class="span3 center-align">
            {% render 'AvroBlogBundle:Blog:sideWidget' %}
        </div>
    </div>
{% endblock %}
